.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.upload-btn {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

/*.navbar-light {
  background-color: #0080ff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}*/

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 450px;
  margin-top: 10%;
  margin-left: 25%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.patient-info-form, .back-button {
    margin-top: 10%;
}

.results{
}

.dote span {
  color: transparent;
  background-color: #959595;
  display: block;
  line-height: 0;
  height: 5px;
  width: 3px;
  margin-top: 7px;
}





.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.upload-btn {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ff437c;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 450px;
  margin-top: 10%;
  margin-left: 25%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.patient-info-form, .back-button {
    margin-top: 0%;
}

.results{
}

.dote span {
  color: transparent;
  background-color: #959595;
  display: block;
  line-height: 0;
  height: 5px;
  width: 3px;
  margin-top: 7px;
}

.card-body {
    margin-top: 50px;
}