.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.upload-btn {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}